@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-rubik: 'Rubik', sans-serif;
}

[data-theme="light"] {
  --background-color: #F4F6FA;
  --text-color: #313E51;
}

[data-theme="dark"] {
  --background-color: #313E51;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}